
<!-- Footer -->
<footer class="bg-blue-500 text-white py-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mb-8">
            <!-- Column 1 -->
            <div>
                <h3 class="text-xl font-heading font-bold mb-4">Linetrendy</h3>
                <p class="mb-4">Organic, sustainable hair care products designed to nourish, strengthen, and promote healthy growth, helping you love your hair and feel your absolute best.</p>
                <div class="flex space-x-4">
                    <a href="https://www.facebook.com/share/1CaEK2PzS3/" class="hover:text-accent transition" aria-label="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/linetrendyllc?igsh=eGoxNDY2b3Y1bW91" class="hover:text-accent transition" aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            
            <!-- Column 2 -->
            <div>
                <h4 class="font-bold mb-4">Shop by category</h4>
                <ul class="space-y-2">
                    {% for category in categories %}
                    <li>
                        <a href="?category={{ category.id }}{% if search_query %}&q={{ search_query }}{% endif %}#products" 
                        class="{% if selected_category == category.id %}font-bold{% endif %}">
                        {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
            
            <!-- Column 3 -->
            <div>
                <h4 class="font-bold mb-4">Information</h4>
                <ul class="space-y-2">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'shop:account_page' %}"
                         class="hover:text-accent transition">Order Tracking</a></li>

                    {% else %}
                    <li><a href="{% url 'shop:guest_order_tracking' %}"
                         class="hover:text-accent transition">Order Tracking</a></li>
                    {% endif %}
                    <li><a href="{% url 'shop:about' %}" class="hover:text-accent transition">About Us</a></li>
                    <li><a href="{% url 'shop:contact' %}" class="hover:text-accent transition">Contact Us</a></li>
                    <li><a href="{% url 'shop:faq' %}" class="hover:text-accent transition">Faqs</a></li>
                    
                </ul>
            </div>
            
            <!-- Column 4 -->
            <div>
                <h4 class="font-bold mb-4">Legal</h4>
                <ul class="space-y-2">
                    <li><a href="{% url 'shop:disclaimer' %}" class="hover:text-accent transition">Disclaimer</a></li>
                    <li><a href="{% url 'shop:privacy_policy' %}" class="hover:text-accent transition">Privacy Policy</a></li>
                    <li><a href="{% url 'shop:term_of_service' %}" class="hover:text-accent transition">Terms of Service</a></li>
                    <li><a href="{% url 'shop:return_policy' %}" class="hover:text-accent transition">Shipping & Returns</a></li>
                </ul>
            </div>
        </div>
        
        <div class="border-t border-gray-700 pt-8 text-center">
            <p>&copy; 2025 Linetrendy. All rights reserved.</p>
            <p class="mt-2 text-sm text-white">Made with <i class="fas fa-heart text-accent"></i> for the planet earth</p>
        </div>
    </div>
</footer>
