@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    scroll-behavior: smooth;
}


body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}





.hero-section {
    background-image: url('/static/img/hero_background.jpg');
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    z-index: 0;
    z-index: 1;
}

.hero-section::before {
    content: '';
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    z-index: 0;
}



@media (max-width: 768px) {
    .hero-section::before {
        background-position: center 60%; /* moves image up */
    }
}




.category-card {
    transition: all 0.3s ease;
}

.category-card:hover {
    transform: translateY(-5px);
}

.product-card {
    transition: all 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.testimonial-card {
    transition: all 0.3s ease;
}

.testimonial-card:hover {
    transform: scale(1.02);
}

.modal {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
    transition: transform 0.3s ease;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal.active .modal-content {
    transform: translateY(0);
}

.hamburger {
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.mobile-menu {
    transition: all 0.3s ease;
    max-height: 0;
    overflow: hidden;
}

.mobile-menu.active {
    max-height: 500px;
}