{% extends 'linetrendy/base.html' %}



{% load static %}



{% block content %}
<section class="hero-image flex items-center justify-center text-center text-white px-4 animate-fade-in relative
    h-[70vh] md:h-screen"
    style="
        --bg-pos-desktop: center bottom; 
        --bg-pos-mobile: center 20%; 
        background-image: url('{% static 'img/my_hero_.jpg' %}');">
    
    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <!-- Content -->
    <div class="relative max-w-4xl mx-auto z-10">
        <h1 class="text-4xl md:text-6xl text-red-500 font-heading font-bold mb-6 animate-slide-up">
            About us
        </h1>
        <p class="text-xl md:text-2xl mb-8 animate-slide-up">
            Remember: consistency is key! Hair product for all hair types.
        </p>
        <a href="{% url 'shop:shop' %}" class="bg-blue-600 hover:bg-blue-800 text-white px-8 py-3 rounded-full font-medium transition duration-300 transform hover:scale-105 animate-slide-up">
            Shop Now
        </a>
    </div>
</section>




{% endblock content %}